.header {
    background-color: rgb(221, 240, 248);
    height: 150px;
    padding: 20px;
    /* display: flex; */
    /* align-items: center; */
}

.title {
    margin: auto;
}

.header-action-buttons {
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    display: inline-block;
}

.header-button {
    display: inline-block;
    background-color: slategray !important;
    border: none !important;
    margin: 5px;
}