.header {
    background-color: rgb(236, 249, 255);
    padding: 20px;
}

.searchbar-container {
    display: flex;
    justify-content: flex-start;
}

.title {
    margin: auto;
    color: rgb(29, 34, 34);
}

.header-action-buttons {
    display: flex;
    justify-content: flex-end;
}

.dropdown {
    display: inline-block;
}

.header-button {
    display: inline-block;
    background-color: #fff !important;
    color: slategray !important;
    border: 1px solid #ced4da !important;
    margin: 10px;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn:hover {
    color: rgb(29, 34, 34) !important;
}

.action {
    display: inline-block;
    margin: 5px;
    font-size: x-small !important;
}

.searchbar {
    width: 200px !important;
}