.card-container {
    width: 100%;
    text-align: center;
}

.card {
    width: 400px;
    margin: 25px auto 25px auto;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: white;
    border: 0px;
    margin: 0px 4px 0px 4px;
    color: #5A5A5A;
}

.button-icon {
    display: inline;
    font-size: x-small;
}

.modal-backdrop {
    opacity: 0 !important;
}